a[type='button'] {
  outline: unset !important;
  -webkit-appearance: initial !important;
}
.sidebar[data-color="purple"] li.active > a {
  background: linear-gradient(60deg, #369f80, #24aa7c);
  box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
}
.card .card-header-primary .card-icon, .card .card-header-primary .card-text, .card .card-header-primary:not(.card-header-icon):not(.card-header-text), .card.bg-primary, .card.card-rotate.bg-primary .front, .card.card-rotate.bg-primary .back {
  background: linear-gradient(60deg,#ef5350,#e53935)  ;
}
.change-lng img {
  width: 25px;
  margin-right: 10px;
}

.dropdown-toggle::after {
  margin-left: -0.255em;
}
#categories tr i {
  width: 40px;
  display: block;
  margin-bottom: -24px;
  font-size: 24px;
}
#categories tr i + span {
  margin: 2px 49px;
  font-size: 16px;
  font-weight: 500;
  color: #595958;
}
#categories td.flex-row-reverse {
  padding-top: 31px;
}
.errors .alert {
  width: 495px;
  padding: 9px;
  font-size: 14px;
  margin: auto;
  margin-top: 20px;
}
/*posts*/
#posts .card-header input,
#posts .card-header input::placeholder{
  color: #fffed6;
}
#posts .card-header-primary {
  /*height: 81px;*/
}
#posts .posts-res{
  background: #f1f1f1;
  padding: 5px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0px 1px 8px 0px #746e6e;
}
#posts .posts-res .card{
  margin: 0;

}
#posts .posts-res .card-body {
  padding: 0px;
}
#posts .posts-res .card-body a{
  padding: 8px;
  width: 100%;
  height: 39px;
  border-bottom: 1px solid #d4d4d4;
  font-size: 12px;
  margin-bottom: 0px;
}
#posts .posts-res .card-body a:hover{
  color: #2a5aa3;
}
#advertisements td img{
  width: 50px;
  height: 50px !important;
}
#advertisements .publish{
  width: 68px;
}
#advertisements td form{
  padding-top: 11px;
}